<html lang="en">
<head>
    <title>Index Page</title>
</head>
<body>
<div align="center">
    <form action="inquiry" method="post">
        <table>
            <tr>
                <td><label for="pageSize">Page Size</label></td>
                <td><label>
                    <input type="number" min="0" name="pageSize" required/>
                </label></td>
            </tr>
            <tr>
                <td><label for="address">Address</label></td>
                <td><label>
                    <input type="text" name="address" required/>
                </label></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>